<form class="auth-form" [formGroup]="form">
  <h1 class="h3 mb-4 font-weight-normal">Sign Up</h1>
  <div class="form-floating mb-4 w-100">
    <input
      type="text"
      class="form-control"
      id="auth-sign-up-name"
      [formControlName]="fields.NAME"
      placeholder="Enter your name"
      [class.is-invalid]="nameStatus.isInvalid"
      (blur)="nameStatus.setTouched()"
    />
    <label for="auth-sign-up-name">Name</label>
    <div *ngIf="nameStatus.isInvalid" class="invalid-tooltip">
      {{ nameStatus.errors }}
    </div>
  </div>
  <div class="form-floating mb-4 w-100">
    <input
      type="email"
      class="form-control"
      id="auth-sign-up-email"
      [formControlName]="fields.EMAIL"
      placeholder="name@example.com"
      [class.is-invalid]="emailStatus.isInvalid"
      (blur)="emailStatus.setTouched()"
    />
    <label for="auth-sign-up-email">Email</label>
    <div *ngIf="emailStatus.isInvalid" class="invalid-tooltip">
      {{ emailStatus.errors }}
    </div>
  </div>
  <div class="form-floating mb-4 w-100 has-validation">
    <input
      type="password"
      class="form-control"
      id="auth-sign-up-password"
      [formControlName]="fields.PASSWORD"
      placeholder="Password"
      [class.is-invalid]="passwordStatus.isInvalid"
      (blur)="passwordStatus.setTouched()"
    />
    <label for="auth-sign-up-password">Password</label>
    <div class="invalid-tooltip" *ngIf="fields.PASSWORD">
      {{ passwordStatus.errors }}
    </div>
  </div>
  <div class="d-flex align-items-baseline py-2 mb-4">
    Already have account?
    <button class="btn btn-link ms-2" (click)="handleToggleLogin()">
      Login
    </button>
  </div>
  <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
    Sign Up
  </button>
  <p class="mt-5 mb-3 text-muted">© Personal Manager 2020</p>
</form>
