<form class="auth-form" [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-4 font-weight-normal" translate>shell.loginFormTitle</h1>
  <div class="mb-3 w-100">
    <label for="auth-login-email" translate>shell.fields.email</label>
    <input
      type="email"
      class="form-control"
      id="auth-login-email"
      [formControlName]="fields.EMAIL"
      placeholder="name@example.com"
      [class.is-invalid]="email.invalid"
    />
    <div class="invalid-feedback">
      {{ email.errors | async }}
    </div>
  </div>
  <div class="mb-3 w-100">
    <label for="auth-login-password" translate>shell.fields.password</label>
    <input
      type="password"
      class="form-control"
      id="auth-login-password"
      [formControlName]="fields.PASSWORD"
      placeholder="Password1!"
      [class.is-invalid]="password.invalid"
    />
    <div class="invalid-feedback">
      {{ password.errors | async }}
    </div>
  </div>
  <div class="d-flex align-items-baseline py-2 mb-4">
    <span translate>shell.noAccountQuestion</span>
    <button class="btn btn-link ms-2" (click)="handleToggleLogin()">
      <span translate>shell.buttons.signUp</span>
    </button>
  </div>
  <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
    <span translate>shell.buttons.login</span>
  </button>
  <p class="mt-5 mb-3 text-muted" translate>common.copyright</p>
</form>
