<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid py-2">
      <a class="navbar-brand text-capitalize mr-4" [routerLink]="''"
        ><span translate>shell.personalManager</span></a
      >

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto nav-pills">
          <li class="nav-item px-1" *ngFor="let item of navigationList">
            <a
              class="nav-link text-capitalize"
              [routerLink]="item.link"
              routerLinkActive="active text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ item.label }}</a
            >
          </li>
        </ul>
      </div>

      <ng-content select=".user-control"></ng-content>
    </div>
  </nav>
</header>
