@import '~bootstrap/scss/bootstrap';
@import 'src/styles/variables';

.home-component {
  position: relative;
  display: block;
  height: calc(100vh - #{$top-nav-height});
  background: linear-gradient(rgba($gray-900, .5), rgba($gray-600, .3)),
    url('~src/assets/images/man_and_city.jpg');
  background-size: cover;
  filter: brightness(0.8) contrast(190%);

  h1 {
    font-size: 5rem;
  }
}
