<form class="auth-form mt-5" [formGroup]="loginForm">
  <h1 class="h3 mb-4 font-weight-normal">Login</h1>
  <div class="form-floating mb-3 w-100">
    <input
      type="email"
      class="form-control"
      id="auth-login-email"
      formControlName="email"
      placeholder="name@example.com"
      [class.is-invalid]="emailInvalid"
    />
    <label for="auth-login-email">Email</label>
    <div *ngIf="emailInvalid" class="invalid-tooltip">
      {{ 'Value should be email' }}
    </div>
  </div>
  <div class="form-floating mb-4 w-100 has-validation">
    <input
      type="password"
      class="form-control is-invalid"
      id="floatingPassword"
      formControlName="password"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
    <div class="invalid-tooltip">
      Please choose a unique and valid username.
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
    Login
  </button>
  <p class="mt-5 mb-3 text-muted">© Personal Manager 2020</p>
</form>
