<div class="auth-page">
  <form class="auth-form" [formGroup]="loginForm">
    <h1 class="h3 mb-4 font-weight-normal">Login</h1>
    <div class="form-floating mb-4 w-100">
      <input
        type="email"
        class="form-control"
        id="auth-login-email"
        [formControlName]="fields.EMAIL"
        placeholder="name@example.com"
        [class.is-invalid]="emailInvalid"
        (blur)="handleBlur(fields.EMAIL)"
      />
      <label for="auth-login-email">Email</label>
      <div *ngIf="emailInvalid" class="invalid-tooltip">
        {{ emailErrors }}
      </div>
    </div>
    <div class="form-floating mb-4 w-100 has-validation">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        [formControlName]="fields.PASSWORD"
        placeholder="Password"
        [class.is-invalid]="passwordInvalid"
        (blur)="handleBlur(fields.PASSWORD)"
      />
      <label for="floatingPassword">Password</label>
      <div class="invalid-tooltip" *ngIf="passwordInvalid">
        {{ passwordErrors }}
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
      Login
    </button>
    <p class="mt-5 mb-3 text-muted">© Personal Manager 2020</p>
  </form>
</div>
